*.obj
*.exe
*.exp
*.mod
*.chm
*~
*.\#*
\#*\#

Debug
Release
debug
release
JEOL_Release
JEOL_Debug
NoHang_Release
settingsJEOL
ipch
SerialEM.lib
SerialEM.ncb
SerialEM.suo
SerialEM.aps
SerialEM.sdf
SerialEM.opensdf
SerialEM.log
SerialEM.vcproj.*.user
SerialEM.vcxproj*user
SerialEM.VC*
SerialEMsettings*.*
JEOLsettings*.*
SEMset*
AUTOSAVE*
SerialEMcrash*.log
hlp\HTMLDefines.h
macroTestSettings.txt
SEMbasicModeItems.txt
.vs
